.header {
    background-color: black;
    color:white;
    width: max-content;
    height: max-content;


}

.image {
    width:auto;
    height:auto;
 
}

.ol {
    background-color: aliceblue;
    color:black;

}


